<%- include("./partials/header") %>
        <div class="container my-4">
                <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7">
                        <h2 class="featurette-heading">It all started with a "Hello World".<span class="text-muted">Never looked
                                back
                                thenafter. </span></h2>
                        <p class="lead">Like everyone else my journey also began with a simple <i>Hello World</i>. The language
                        was C. It was the 2nd semester of my College life . Right Now I am in my 6th and still going!</p>
                </div>
                <div class="col-md-5">
                        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                        style="width: 32vw; height: 45vh;" src="../public/Assets/about3.jpg">
                </div>
                </div>
                <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 order-md-2">
                        <h2 class="featurette-heading">We began iblogger in 2020 .<span class="text-muted">Lockdown crisis
                                converted into oppurtinity.</span></h2>
                        <p class="lead">The idea was to express yourself in those stressful times and let the outer , then caged
                        , world see your feathers. We let this website be the medium of that .</p>
                </div>
                <div class="col-md-5 order-md-1">
                        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                        style="width: 32vw; height: 45vh;" src="../public/Assets/about2.jpg">
                </div>
                </div>
                <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7">
                        <h2 class="featurette-heading">Never too late to start!<span class="text-muted">It's a cliche but no
                                surprise still works.</span></h2>
                        <p class="lead">Devote yourself to the magical art that is technology and you shall shine ! This place
                        is a testament of your character and your choices. Don't let it remain empty and dull. The canvas is
                        yours , Paint my friend!!</p>
                </div>
                <div class="col-md-5">
                        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                        style="width: 32vw; height: 45vh;" src="../public/Assets/about4.jpg">
                </div>
                </div>
        </div>
<%- include("./partials/footer") %>
